@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap");
.home {
  background-color: #fdf0d5;
}
.container-fluid {
  height: 100vh;
  width: 100vw;
}

.name {
  text-align: center;
}

.link {
  z-index: 1;
}

.link-item {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.4em;
  text-decoration: none;
  color: #444554;
  font-family: "Amatic SC", cursive;
}

@media (min-width: 576px) {
  .link-item {
    font-size: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }
}
