  
  /* .page-enter {
    opacity: 0;
    transform: scale(1.1);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  
  .page-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  } */

  .page-exit-active {
      background-color:black;
    animation-name: slideOut;
    animation-duration: 600ms;
    animation-fill-mode: both;
    animation-timing-function: ease;
  }

  .page-enter-active {
    background-color:black;
    animation-name: slideIn;
    animation-duration: 600ms;
    animation-fill-mode: both;
    animation-timing-function: ease;
  }
  @keyframes slideIn {
    0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
    75% { opacity: .5; transform: translateZ(-500px); }
    100% { opacity: 1; transform: translateZ(0) translateX(0); }
  }

  @keyframes slideOut {
    0% { }
    25% { opacity: .5; transform: translateZ(-500px); }
    75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
    100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  }
  